h2 {
    text-align: center;
    margin-bottom: 2%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.p_year {
    text-align: center;
    font-style: italic;
}

.a_details {
    display: block;
    text-align: center;
}

.title {
    margin-top: 2%;
}

.p_details {
    margin: 3%;
}

#video-container {
    text-align: center;
}

.back {
    text-align: center;
    display: block;
    margin: 4% 0%;
    font-weight: bold;
}