h2 {
    text-align: center;
    margin-bottom: 2%;
}

h3.no_results {
    margin: 10% 0%;
    color: tomato;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.p_year {
    text-align: center;
    font-style: italic;
}

.a_details {
    display: block;
    text-align: center;
}

.title {
    margin-top: 2%;
}