/*body section*/

body {
    margin-top: 5em;
    background-color: #BCAF9C;
}

h1,
h2,
h3,
h4,
h5 {
    color: #69626D;
}

p {
    color: #4D4850;
}


/*Footer Section*/

footer {
    background-color: #343a40 !important;
    text-align: center;
    padding: 0.5em 0%;
}

footer p {
    margin-bottom: 0%;
    color: white;
}