#loginPage {
    height: 130vh;
}

.loginCon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: relative;
    top: 150%;
}

h1,
h2,
p,
label,
input {
    margin-bottom: 25px;
    font-family: Arial;
}

.title {
    margin-top: 50% !important;
    font-size: 41px;
    padding-bottom: 15px;
    text-align: center;
}

input {
    float: left;
    clear: both;
    width: 100%;
    border: 0;
    /* padding-bottom: 10px; */
    margin-right: 0.5%;
}

.inputLog {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    text-align: center;
    cursor: pointer;
    /* margin-top: 15px; */
    font-size: 20px;
}

label h2 {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 21px;
}

.SubBtn {
    padding: 10px;
    color: #6254a9;
    cursor: pointer;
    margin-bottom: 10%;
}

#createUser {
    display: block;
    text-align: center;
    margin-bottom: 5%;
    font-weight: bold;
}

.message {
    color: #ECD1E4;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

a.back {
    display: block;
    margin: 2% auto;
    text-align: center;
    font-weight: bold;
}


/*Section for delete users */

.delete_title {
    text-align: center;
}

.delete_name {
    display: block;
    margin: 2%;
    text-align: center;
}

.delete_link {
    margin: 1%;
    display: block;
    text-align: center;
}


/*Section for delete movies*/

.img-mov-delete {
    width: 50%;
    margin: 0% auto;
    margin-top: 10%;
    display: block;
    text-align: center;
}

.name-mov-delete {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}